<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content"  class="w-100 d-flex justify-content-center">

  <div th:fragment="content" class="w-100 d-flex justify-content-center">
    <form th:action="@{/authors/save}" method="POST">
      <div class="card" style="width: 28rem;">
        <div class="card-body">
          <h4 class="card-title">Добавление автора</h4>
          <div class="mb-3 row">
            <label for="inputFirstname" class="col-sm-3 col-form-label">Имя</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputFirstname" name="firstname" value="">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputLastname" class="col-sm-3 col-form-label">Фамилия</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputLastname" name="lastname" value="">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary mb-3">Зарегистрироваться</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>