<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="ru" th:fragment="header">
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{#}">JKTV23BookShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span></span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/books/list}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Книги
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/books/}" sec:authorize="hasAnyRole('USER')">Список книг</a></li>
                            <li><a class="dropdown-item" th:href="@{/books/new}" sec:authorize="hasAnyRole('MANAGER')">Добавить книгу</a></li>
                            <li><hr class="dropdown-divider" sec:authorize="hasAnyRole('MANAGER')"></li>
                            <li><a class="dropdown-item" th:href="@{/authors/}" sec:authorize="hasAnyRole('MANAGER')">Список авторов</a></li>
                            <li><a class="dropdown-item" th:href="@{/authors/new}" sec:authorize="hasAnyRole('MANAGER')">Добавить автора</a></li>
                        </ul>
                    </li><li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Пользователь
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/books/listBooks}" sec:authorize="hasAnyRole('USER')">Профиль пользователя</a></li>
                            <li><a class="dropdown-item" th:href="@{/books/addBook}" sec:authorize="hasAnyRole('MANAGER')">Список пользователей</a></li>
                        </ul>
                    </li><li class="nav-item dropdown" sec:authorize="hasAnyRole('ADMINISTRATOR')">
                        <a class="nav-link dropdown-toggle" th:href="@{#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Администратор
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/admin/adminPanel}">Панель администратора</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/rangReadingBooks}">Рейтинг читаемости книг</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <span class="nav-link">[<span sec:authentication="name"></span>]</span>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/registrationForm}">Регистрация</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/loginForm}">Вход</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="POST">
<!--                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                            <button type="submit" class="nav-link" style="background:none; border:none; cursor:pointer;">
                                Выход
                            </button>
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <p class="w-100 d-flex justify-content-center" th:text="${info}"></p>
</header>
</body>
</html>