<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JKTV23BookShop</title>
</head>
<body>

<h2>Добро пожаловать в нашу библиотеку</h2>
<a href="/books/">Список книг</a><br>
<a href="/books/new">Новая книга</a>
<br><a href="/authors/new">Добавить автора</a><br>
<ul>
    <li th:each="book : ${books}">
        <span th:text="${book.title}">Название</span>
        — <span th:each="author : ${book.authors}" th:text="${author.firstname} + ' ' + ${author.lastname} + '. '"></span>
    </li>
</ul>
</body>
</html>